.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    background: #303A52;
    height: 500px;
    margin: 0 auto;
    margin-top: 3rem;
}

.submit-btn {
    width: 50%;
    margin: 2rem auto;
    padding: 0.75rem;
    cursor: pointer;
    background: #F78FB3;
    color: #303A52;
    border: transparent;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 5px;

}