.app-form {
  padding-left: 3rem;
  padding-right: 3rem;
}

@media screen and (min-width: 750px) {
  .app-form {
    width: 50%;
  }
}

.box {
  display: flex;
  flex-direction: column;
  width: 350px;
  background: #303a52;
  height: 450px;
  margin: 0 auto;
  margin-top: 3rem;
  padding-top: 2.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  line-height: 3;
}

input[type="number"],
input[type="text"] {
  width: 70%;
  line-height: 2.5rem;
  padding-left: 0.75rem;
  border-bottom: 4px solid transparent;
  border-radius: 5px 5px 0 0;
  font-size: 1.1rem;
  outline: transparent;
  text-align: center;
}
input[type="number"]:hover,
input[type="number"]:focus {
  border-bottom: 4px solid #f78fb3;
}

.btn-row {
  display: flex;
  justify-content: space-between;
}

input[type="submit"],
input[type="reset"] {
  
  margin: 2rem;
  padding: 0.75rem;
  cursor: pointer;
  background: #f78fb3;
  color: #303a52;
  border: transparent;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 5px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  transform: translateY(4px);
}
